// Define variables for your color scheme

// For example:
$red: #EE575D;
$blue: #333333;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #54BC83;
$gray: #0E0000;
$light-gray: #F8F7F5;
$white: #FFFFFF;
$fontcolor: #333333;
$fontp: #A9A5AA;
