
<div class="container-fluid">
  <nav class=" nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center btn" href="#">Category</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Price</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Color</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Smell</a>
  </nav>
</div>


<div class="content">
  <div class="cards">
    <% @socks.each do |sock| %>
    <div class="card" style="background-image: url('<%= cl_image_path sock.photo, height: 500, width: 400, crop: :fill %>')">
        <%= link_to sock.title, sock_path(sock) %>
      </div>
    <% end %>
  </div>

</div>
