

<div class="container-fluid px-4 m-3">
  <nav class="t-20 nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center btn" href="#">Category</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Price</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Color</a>
    <a class="flex-sm-fill text-sm-center btn" href="#">Smell</a>
  </nav>


<h2>Plus de 20 odeurs à découvrir</h2>

<div>
  <% @socks.each do |sock|%>
    <div class="card-columns m-4 flex-column">
      <div class="card">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/F1_chequered_flag.svg/1200px-F1_chequered_flag.svg.png" alt="Card image cap" > <%= link_to 'Show', sock_path(sock) %>
      <div class="card-body">
        <h5 class="card-title"><%= sock.title %></h5>
        <p class="card-price"><%= sock.price %> Price €/day Price * day au total</p>
        <p class="card-size"><%= sock.size  %></p>
        <p class="card-review">Star * Review rate / Review Count </p>
      </div>
     </div>
  <% end %>
</div>

