<div class="banner-home" style="background-image: url(https://res.cloudinary.com/dqwubjw5x/image/upload/v1558709268/events-xl_iz2f2d.jpg);">
  <div class="container text-center align-middle">
    <h1>READY TO SOCK IT ?</h1>
    <p>Enjoy more than 100 fragances and add spice to your life.</p>
    <%= link_to "Discover socks", socks_path, class: "btn text-light" %>
  </div>
</div>
