.card-purple {
  background-color: #020959;
  color: #FFFC04;
  justify-content: center;
  border: solid 1px;
  border-color: #FFFC04;
}

.big-card-show {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-reviews {
  color: #FFFC04;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #FFFC04;
}

.card {
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 1px;
  margin: 10px 50px 0px 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.card-bottom {
  text-decoration: none;
  background-color: #020959;
  color: #FFFC04;
  height: 40px;
  border-radius: 1px;
  margin: 0px 50px 10px 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  font-size: 25px;
  color: #FFFC04;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
