.card {
  background-color: #020959;
  color: #FFFC04;
  justify-content: center;
  border: solid 1px;
  border-color: #FFFC04;
}

.big-card-show {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-reviews {
  color: #FFFC04;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #FFFC04;
}
.cardindex {
  background-color: #020959;
  color: #FFFC04;
  justify-content: center;
  border: solid 1px;
  border-color: #FFFC04;
  width: 100px;

}
.cardimageindex {
  background-color: #020959;
  color: #FFFC04;
  justify-content: center;
  border: solid 1px;
  border-color: #FFFC04;
  width: 100px;

}
