.card-reviews {
  color:  #333333;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #A9A5AA;
}

.card {
  background-color: white;
  height: 120px;
  width: 160px;
  margin: 10px 0px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-bottom {
  background-color: white;
  width: 160px;
  height: 120px;
  margin: 0px 30px 10px 50px;
  display: flex;
  font-size: 15px;
    background-color: #fff;
   }


.card-bottom-title{
    font-weight: 400;
    color: #333333;
}
.card-bottom-price{
    font-weight: 200;
    color: #EE575D;
}


.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-body {
  width: 600px;
  text-align: center;
  background-color: white;
}

.card-body-form {
  width: 400px;
  text-align: center;
  padding: 10px;
  background-color: white;
  position: sticky;
}

.card-product {
  overflow: hidden;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.card-product-infos img {
  height: 100%;
  width: 300px;
  object-fit: fill;
  margin: 20px;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 8px;
  margin-left: 0px
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
