.cardindex {
  background-color: #020959;
  color: #FFFC04;
  border: solid 1px;
  border-color: #FFFC04;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}
.cardimageindex {


}
